@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/backgroundSIte.png");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  overflow-x: hidden;
}

.droits {
  text-align: center;
  background-color: #1b2838;
  font-size: 17px;
  color: rgb(222, 222, 222);
  padding-bottom: 10px;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  padding: 2px 10px;
  padding-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #5e9bff;
  color: #fff;
  cursor: pointer;
}

@font-face {
  font-family: "Hello";
  src: url("../fonts/Hello.otf");
}
/* NAVIGATION BAR */
nav {
  margin: 1% 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  z-index: 999;
}
nav ul li a {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  text-align: center;
  position: relative;
  color: white;
}
nav ul li a:hover {
  color: #5e9bff;
}

@media (min-width: 750px) {
  .menu-hamburger {
    display: none;
  }
}
@media (max-width: 750px) {
  .material-icons {
    color: white;
    margin-top: 15px;
    margin-left: -15px;
  }
  nav ul {
    z-index: 2;
    position: fixed;
    flex-direction: column;
    left: -100%;
    top: 11.5%;
    width: 90%;
    margin-left: 5%;
    transition: 0.25s;
    text-align: center;
    background: rgba(255, 255, 255, 0.1607843137);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1019607843);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.7490196078);
  }
  nav li {
    padding: 10px 0;
  }
  nav.active ul {
    left: 0;
  }
  .menu-hamburger {
    position: relative;
    margin-top: -21px;
  }
  .menu-hamburger input {
    z-index: 3;
    position: absolute;
    margin-left: 3px;
    margin-top: 15px;
    width: 22px;
    height: 22px;
    opacity: 0;
    cursor: pointer;
    margin-left: -15px;
  }
  .menu-hamburger .icones {
    z-index: 2;
    position: absolute;
  }
}
/* PRESENTATION */
.title {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  height: 80vh;
  align-items: center;
}
.title .left {
  text-align: center;
  width: 50%;
}
.title .left h1 {
  color: white;
  font-family: "Hello";
  font-size: 6vw;
  font-weight: lighter;
}
.title .left h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vw;
  font-weight: lighter;
}
.title .left .introText {
  color: white;
  font-size: 1.4vw;
  font-family: "Sedan", serif;
  text-align: center;
  margin-top: 50px;
}
.title .right {
  width: 50%;
  justify-content: end;
  direction: rtl;
}
.title .right img {
  width: 70%;
}

@media (max-width: 750px) {
  .title {
    display: grid;
    justify-content: center;
    height: 80vh;
    align-items: center;
  }
  .title .left {
    text-align: center;
    width: 100%;
  }
  .title .left h1 {
    color: white;
    font-family: "Hello";
    font-size: 45px;
    font-weight: lighter;
  }
  .title .left h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
  }
  .title .left .introText {
    color: white;
    font-size: 15px;
    font-family: "Sedan", serif;
    text-align: center;
    margin-top: 50px;
  }
  .title .right {
    width: 100%;
    display: none;
  }
  .title .right img {
    width: 100%;
  }
}
/* Import des polices de caractères */
/* Style pour la section "history" */
.history {
  background-color: #fdf0d5;
  padding: 5% 8% 5%;
  display: flex;
  flex-direction: column; /* Affichage des éléments en colonne */
  align-items: center; /* Centrage horizontal des éléments */
  margin-top: 11.5vh;
  justify-content: space-between;
}
.history .text h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #780000;
  font-size: 45px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.history .text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  line-height: 1.5;
  width: 100%; /* Largeur maximale pour un meilleur ajustement sur les petits écrans */
  margin-bottom: 20px; /* Espacement inférieur */
}
.history .text .btn {
  width: 155px;
  height: 60px;
  border: 2.5px solid #780000;
  background-color: #fdf0d5;
  font-size: 18px;
  margin-top: 20px;
  color: black;
}
.history .text .btn:hover {
  background-color: #780000;
  transition: 0.5s;
  color: #ffffff;
}
.history .img {
  font-family: Arial, Helvetica, sans-serif;
}
.history .img img {
  width: 100%; /* La largeur de l'image prendra 100% de la largeur du conteneur */
  max-width: 700px; /* Limitation de la largeur maximale de l'image */
  padding-top: 30px;
  margin-bottom: 10px;
}

/* Media queries pour la mise en page responsive */
@media screen and (min-width: 768px) {
  .history {
    flex-direction: row; /* Affichage des éléments en ligne pour les écrans de taille moyenne et supérieure */
  }
  .history .text {
    width: 50%; /* Largeur de 50% pour le texte */
    margin-bottom: 30px;
  }
  .history .text h1 {
    font-size: 40px; /* Réduire la taille de la police */
  }
  .history img {
    width: 45%;
  }
}
.galleryPhotos {
  padding: 5% 8% 5%;
}
.galleryPhotos h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.galleryPhotos .grid {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  grid-gap: 3.5em;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2em 1em;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (min-width: 600px) {
  .galleryPhotos .grid {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
    justify-content: center;
  }
}
.galleryPhotos .grid__figure {
  display: grid;
  grid-gap: 1em;
}
.galleryPhotos .grid__figure .imgGallery {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
@media screen and (max-width: 370px) {
  .galleryPhotos .grid__figure .imgGallery {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

footer {
  display: flex;
  align-items: flex-start;
  background-color: #1b2838;
  justify-content: center;
  padding: 4% 1%;
  color: #acb2b8;
}
footer .linksToPage {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
footer .linksToPage img {
  width: 22px;
  margin-left: 5px;
}
footer .linksToPage:hover img {
  animation: slide 1s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
footer .thanks {
  width: 33%;
}
footer .thanks h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 40px;
}
footer .thanks p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  margin-left: 15px;
}
footer .thanks a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5e9bff;
  margin-left: 15px;
}
footer .links {
  width: 33%;
}
footer .links h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 40px;
}
footer .links .card {
  margin-left: 25px;
  margin-bottom: 10px;
  height: 25px;
  display: flex;
}
footer .links .card a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5e9bff;
}
footer .links .card p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
footer .links .card .content {
  margin-left: 5px;
}
footer img {
  width: 50%;
}

@media screen and (max-width: 830px) {
  footer {
    flex-direction: column;
    gap: 50px;
  }
  footer .thanks {
    width: 100%;
  }
  footer .thanks h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 40px;
  }
  footer .thanks p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-left: 15px;
  }
  footer .links {
    width: 100%;
  }
  footer .links h2 {
    font-size: 40px;
  }
  footer .links .card a {
    font-size: 20px;
  }
  footer .links .card p {
    font-size: 20px;
  }
  footer img {
    width: 33%;
  }
}
@media screen and (max-width: 380px) {
  footer {
    flex-direction: column;
    gap: 50px;
    padding-left: 3px;
    margin-top: 10%;
  }
  footer .thanks {
    width: 100%;
  }
  footer .thanks h2 {
    font-size: 30px;
  }
  footer .thanks p {
    font-size: 16px;
  }
  footer .links {
    width: 100%;
  }
  footer .links h2 {
    font-size: 30px;
  }
  footer .links .card a {
    font-size: 16px;
  }
  footer .links .card p {
    font-size: 16px;
  }
  footer img {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
